@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
}

body {
    background-image: url(images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100px;
}
/*header part design*/

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content button a {
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.header-content button {
    width: 228px;
    height: 58px;
    background-color: transparent;
    border-radius: 8px;
}

.header-content h1 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

/*first part design*/

.banner {
    max-height: 652px;
    max-width: auto;
}

.banner-content {
    text-align: center;
    max-width: 998px;
    max-height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}

.banner-content h1 {
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
}

.banner-content p {
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}

.banner-content button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    font-size: 20px;
    font-weight: 600;
    border-style: none;
    margin-top: 32px;
}

.banner-content button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*second part design*/
.banner2 {
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 424px;
    margin-bottom: 148px;

    padding: 97px;
    background: rgba(13, 19, 33, 0.02);
}

.banner2-main {
    background: white;
    border-radius: 16px;
    border-style: none;
    max-width: 1140px;
    max-height: 1395px;
    padding-bottom: 28px;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: auto;
    margin-right: auto;
}

.banner2-box {
    text-align: center;
}

.banner2-box h1 {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

.banner2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(13, 19, 33, 0.7);
    margin-top: 48px;
    margin-bottom: 48px;
}

.banner2-content-details {
    width: 477px;
}

.banner2-content-details h1 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}

.banner2-content-details p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.banner2-content-details button {
    width: 150px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
}

#apple .banner2-content-details{
    padding-right: 100px;
}

/*third part design*/

.banner3-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner3-main p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.banner3-main h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.banner3-more {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 614px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.banner3-more iframe {
    border-radius: 16px;
    width: 1076px;
    height: 550px;
}

/*fourth part design*/

.banner4-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 149px;
    max-width: 1140px;
    margin-bottom: 111px;
}

.banner4-content p {
    margin-bottom: 48px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.banner4-content h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.banner4-card-border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
}

.banner4-card1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    width: 364px;
}
.banner4-card2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    width: 364px;
}
.banner4-card3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    width: 364px;
}

.card {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}

.card h1 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.card p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.card a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/*fifth part*/

.banner5-content {
    text-align: center;
    padding: 64px 0;
}

.banner5-content h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.banner5-content p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    opacity: 0.7;
}

#texts {
    width: 548px;
    height: 57px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 0.4);
    border-radius: 8px;
    border-style: none;
}

#texts2 {
    width: 120px;
    height: 58px;
    font-size: 20px;
    font-size: 600;
    color: rgb(13, 19, 33);
    border-radius: 8px;
    border-style: none;
}

.banner6-main {
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 8px;
    height: auto;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-top: 79px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.banner6-main h1 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.banner6-main .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
    align-items: center;
}